* {
  box-sizing: border-box;
  font-family: 'Patua One', cursive;
}
html {
  background: lightblue;  /* org background color #f2f1f4 */
  color: #19171c;
}

#herobox {
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  max-width: 950px;
  max-height: 600px;
  object-fit: scale-down;
}
#hero img {
  max-width: 100%;
  max-height: 100%;
}


.article-section {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  max-width: 960px;
}

.article-section .outerbox {
  float: left;
  margin: 0px;
  padding: 0px;
}

.article-section .innerbox {
  position: relative;
  padding: 5px;
}

.article-section img {
  max-width: 100%;
  max-height: 100%;
}

.image-text {
  position: absolute;
  bottom: 10px;
  left: 0px;

  /* Below: Using a left side border to simulate left side padding -
  giving padding to broken lines too, not only first line.
  (Could have used box-shadow for this too like I did right side padding below
  but wanted to try and use both techniques for this excersice and for future reference.) */
  border: 7px solid white;
  border-top: none;
  border-right: none;
  border-bottom: none;
  padding-right: 5px;

  max-width: 95% /* Makes sure that the right side box-shadow "padding" on text never touches end of container  */
}

.image-title {
  background-color: white;
  font-size: 33px;
  display: inline;

  /* Using a right-side only box-shadow to simulate right-side padding -
  giving padding to broken line too, not only last line.*/
  box-decoration-break: clone; /* Resolves issue with Firefox that defaults this value as 'split' */
  box-shadow: 7px 0 0 white;

}
.image-tagline {
  background-color: white;
  box-decoration-break: clone;
  box-shadow: 7px 0 0 white;
}
.image-tagline.over-tag {
  display: inline;
}
.image-tagline.under-tag {
  display: none;
}
.footer {
  clear: both;
  background: yellow;
}

/*
MEDIA QUERIES SECTION
Default is mobile view, then changes with growing screensize,.
*/

/* Tablet */
@media (min-width: 600px) {
  body {
    /* background-color: yellow; */
  }
  .article-section article {
    width: 50%;
  }
  .image-title {
    font-size: 24px;
  }
  .image-tagline.over-tag {
    display: none;
  }
  .image-tagline.under-tag {
    display: inline;
}

/* Desktop */
@media (min-width: 900px) {
  body {
    background-color: pink;
  }
  .article-section article {
    width: 33.33%;
  }
  /* Bigger headlines for one-column view */
  .image-title {
    font-size: 24px;
  }
  .image-tagline.over-tag {
    display: none;
  }
  .image-tagline.under-tag {
    display: inline;
}
