* {
  box-sizing: border-box;
  font-family: 'Patua One', cursive;
}
html {
  background: #f2f1f4;
  color: #19171c;
  margin-bottom: 100px;
}
body {
  margin-top: 0px;
}
#herobox {
  background: #f2f1f4;
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  max-width: 950px;
  max-height: 250px;
}
#herobox img {
  position: relative;
  max-width: 100%;
}
#hero-name-container {
  position: absolute;
  bottom: 50px;
  left: 40px;
  max-width: 90%;
}
#newspaper-name {
  display: inline;
  font-family: 'Abril Fatface', cursive;
  font-size: 40px;
  color: white;
  background: rgba(0, 0, 0, 0.75);
  box-decoration-break: clone;
  box-shadow: 20px 0 0 rgba(0, 0, 0, 0.75), -20px 0 0 rgba(0, 0, 0, 0.75);
}

.article-section {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  max-width: 960px;
}

.article-section .outerbox {
  position: relative;
  float: left;
  margin: 0px;
  padding: 0px;
  transition: box-shadow 0.3s ease-in-out; /* Adds hover effect on articles */
}
.outerbox:hover { /* Sets hover effect into action */
  bottom: 3px;
  box-shadow: -2px 4px 10px rgba(0,0,0,0.2);
}

.article-section .innerbox {
  position: relative;
  padding: 3px;
}

.article-section img {
  max-width: 100%;
  max-height: 100%;
}

.image-text {
  position: absolute;
  bottom: 10px;
  left: 0px;
  border: 7px solid white;
  border-top: none;
  border-right: none;
  border-bottom: none;
  padding-right: 5px;

  max-width: 95% /* Makes sure that the right side box-shadow "padding" on text never touches end of container  */
}

.image-title {
  background-color: white;
  font-size: 33px;
  display: inline;

  /* Using a right-side only box-shadow to simulate right-side padding -
  giving padding to broken line too, not only last line.*/
  box-decoration-break: clone; /* Resolves issue with Firefox that defaults this value as 'split' */
  box-shadow: 7px 0 0 white;

}
.image-tagline {
  color: rgba(0, 0, 0, 0.5);
  font-family: 'PT Sans Narrow', sans-serif;
  background-color: white;
  box-decoration-break: clone;
  box-shadow: 7px 0 0 white;
  padding-top: 2px;
  padding-bottom: 1px;
}

/* Shows tagline above title for Mobile view, media queries will display tagline below title for wider screens */
.image-tagline.over-tag {
  display: inline;
}
.image-tagline.under-tag {
  display: none;
}

.footer {
  clear: both;
  background: yellow;
}

/* MEDIA QUERIES SECTION
Default is mobile view, then changes with growing screensize */

/* Tablet */
@media (min-width: 600px) {
  #herobox {
    max-height: 500px;
  }
  #newspaper-name {
    font-size: 60px;
  }
  .article-section article {
    width: 50%;
  }
  .image-title {
    font-size: 24px;
  }
  .image-tagline.over-tag {
    display: none;
  }
  .image-tagline.under-tag {
    display: inline;
}

/* Desktop */
@media (min-width: 900px) {
  #herobox {
    max-height: 500px;
  }
  #newspaper-name {
    font-size: 60px;
  }
  .article-section article {
    width: 33.33%;
  }
  /* Bigger headlines for one-column view */
  .image-title {
    font-size: 24px;
  }
  .image-tagline.over-tag {
    display: none;
  }
  .image-tagline.under-tag {
    display: inline;
}
