* {
  box-sizing: border-box;
  font-family: 'Patua One', cursive;
}
html {
  background: #f2f1f4;
  color: #19171c;
}

#herobox {
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  max-width: 950px; /* compensated for articles 5px padding*/
  max-height: 600px;
  object-fit: scale-down;
}
#hero img {
  /* position: relative; */
  max-width: 100%;
  max-height: 100%;
}


.articles {
  overflow: visible;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  background-color: pink;
}

.articles .outerbox {
  float: left;
  margin: 0px;
  width: 100%;
  max-width: 320px;
  max-height: 320px;
  object-fit: cover;
}
.articles .innerbox {
  /* position: relative; */
  padding: 5px;
}

.articles img {
  /* position: relative; */
  max-width: 100%;
  max-height: 100%;
}

.image-text {
  position: relative;
  top: -120px;
  left: -7px;
  /* padding: 5px; */
  border: 7px solid white;
  border-top: none;
  border-right: none;
  border-bottom: none;
  padding-right: 5px;
}
.image-title {
  background-color: white;
  padding-right: 5px;
}
.image-tagline {
  /* position: absolute; */
  top: -6px;
  background-color: white;
  font-size: 0.8em;
  /* padding: 5px; */
}
/*
MEDIA QUERIES SECTION
Default is mobile view, then changes with growing screensize,.
*/

/* Tablet */
@media (min-width: 600px) {
  .articles article {
    width: 50%;
}

/* Desktop */
@media (min-width: 900px) {
  .articles article {
    width: 33.33%;
  }
}
